body {
	margin:0;
	color:#474747;
	font-family: 'Ubuntu', sans-serif;
}

body > div {
	height:100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:500;
}

p, li {
	font-weight:300;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 500ms ease;
}

a:hover {
	color: #009acd;
}


h1 {
	position:relative;
	top:45%;
	/*//text-align:center;*/
	padding: 50px;
width: 400px;
background: rgba(255,255,255,0.7);
}

.parallax {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
}

.hero {
    background-image:url(../img/digital-1.jpg);
}

.philosiphies {
    background-image:url(../img/clear-sky-1.jpg);
}

.university {
	background-image:url(../img/clear-sky-4.jpg)
}

.dragons-den {
	background-image:url(../img/clear-sky-2.jpg)
}

.panel {
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 65%;
	line-height: 1.5em;
  background: rgba(255,255,255,0.7);
}

.panel.right {
	float: right;
}

.panel iframe {
	border-radius:50%;
	height:100%;
	width:100%;
}

.panel.blue {
    border: 15px solid #009acd;
    color: #009acd;
}

.panel.small-circle {
	//border-radius:50%;
	width:450px;
	height:450px;
}

.circular-row-container {
	text-align: center;
}

.circular-row-container .circle {
	/*text-align: center;
	position:relative;
	top:50%;
	transform:translateY(-50%);*/
	display: inline-block;
	width: 200px;
}

.circular-row {
	text-align: center;
	position:relative;
	top:36%;
	transform:translateY(-50%);
}

.circular-row-container .circle img {
    background: #009acd;
    border: 15px solid #474747;
    border-radius: 50%;
		width: 200px;
    padding: 15px;
		width: 100%;
}

.circular-row-container .circle .overlay {
	width: 260px;
	height: 260px;
	position: absolute;
	background: rgba(0,0,0,0.7);
	bottom: 0;
	border-radius: 50%;
	display:none;
}

.circular-row-container .circle .overlay-inner {
	position: absolute;
	top: 24%;
	color: white;
	width: 165px;
	left: 15%;
	line-height: 1.5em;
}

.nav-container {
	height: auto;
  background: white;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.75);
}

.logo img {
	width: 125px;
	padding: 15px;
}
